* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.pos-ab{
    position: absolute;
}
html,
body {
    height: 100%;
    font-family: Arial, sans-serif;
    /* overflow: hidden; */
    /* overflow-x: hidden; */
    background-color: #ffffff;
}

.o{opacity: 0;}
.skinner-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 250px 1fr 200px;
    /* Top = 250px */
    grid-template-columns: 200px 1fr 200px;
    /* Left | Center | Right */
    grid-template-areas:
        "top    top     top"
        "left   center  right"
        "bottom bottom  bottom";
    animation: fadeIn 1s ease-out forwards;
    background-color:#000000;
    background-image: url(bg.jpg);
    background-position: center top;
    background-size:auto 100%;
    background-repeat: no-repeat;
    opacity: 0;
}

.panel {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    text-align: center;
}
.panel .panel-logo{
    margin: auto;
    left: 0;
    right: 0;
    top: 1%;
    width: 70%;
    height: auto;
    display:none;
}

.top {
    grid-area: top;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    padding:0;
    z-index:10;  
}
.top .content{
    height: 100%;
    width: 100%;
    position: relative;
    overflow:hidden;
    background-image: url(mobile-top-bg.jpg);
    background-size:970px 250px; 
    background-position:center top;
    background-repeat: no-repeat;
}
.top #logo{
    transform: scale(0.55);
    opacity: 0;
    aspect-ratio: 153/63;
    right:20px;
    bottom:20px;
    max-width:100px;
}
.top #title{
    width: 214px;
    left: 10px;
    top: 67px;
    opacity:0;
}
.top #topLockup, #lockupBox{
    position: relative;
    width:218px;
    aspect-ratio: 340/70;
    left: 10px;
    top: 125px;
    background-image: url(lookup-text.png);
    background-repeat: no-repeat;
    opacity:0;
    background-size:auto 100%; 
}
#topLockup #lockupBox{
     background-image: url(lookup-box.png);
     left:0;
     top:0;
     overflow:hidden;
     opacity:1;
}
#topLockup #lockupBox img{
    width: 62px;
    height: auto;
    left: 109px;
    opacity:0;
    transform: translate(0px, 43px);
    /* top: 24px; */
}

.bottom {
    grid-area: bottom;
    animation-delay: 0.5s;
    width: 100%;
    height: 250px;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom .content{
    width:100%;
    max-width:700px;
    bottom:80px;
}
.bottom img{
    width:50%;
    aspect-ratio: 485/115;
    left:10px;
}
.bottom img:nth-child(2){
    width:20%;
    right:20px;
    left:unset;
    aspect-ratio: 131/89;
}
.left {
    grid-area: left;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    opacity:0;
}
.left .logo{
    width:78%;
    top:6%;
    display:none;
    left:0;
    right:0;
    margin:auto;
}
.left .content, .right .content{
    position: relative;
    width:100%;
    height:680px;
    margin:auto;
    top:110px;
}
.left .content img, .right .content img{
    width:80%;
    margin: auto;
    opacity:0;
}
.left .content .title, .right .content .title{
    left: 0;
    right: 0;
}
.left .content .price, .right .content .price{
    width:76%;
    left: 10%;
    right: 0;
    bottom:40%;
}
.left .content .lockup, .right .content .lockup{
    left: 0;
    right: 0;
    bottom: 34%;
    width: 90%;
}

.right {
    grid-area: right;
    animation-delay: 0.9s;
    animation-name: slideInRight;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    opacity:0;
}

.center {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-delay: 1.1s;
    height: 1000px;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    background-color:#fff;
    top: 250px;
}

/* Responsive Behavior */
@media (max-width: 1300px) {
    .skinner-container {
        grid-template-columns: 1fr;
        grid-template-rows: 250px 1fr auto;
        grid-template-areas:
            "top"
            "center"
            "bottom";
    }
    .panel.left,
    .panel.right {
        display: none;
    }

    .top,
    .bottom,
    .center {
        animation-delay: 0.3s !important;
    }
}
/* 2k monitor */
@media (min-width: 2000px) {
    .panel .panel-logo{
        top:3%;
    }
    .left img, .right img {
        width: 80%;
        height: auto;
    }
    .left .char{
        right:0;
        left:unset;
        top:32%;
    }
    .left .text, .right .text{
        top:17%;
    }
    .left .cta-box, .right .cta-box{
        bottom:4%
    }
    .left .cta-box .product, .right .cta-box .product{
        width:25%;
        right:5px;
    }
    #panelTop.topPanelScroll{
        background-position: center -111px;
        background-size: 2500px 1300px;
    }
}
/* PC */
@media (min-width:1024px){
    .top .content{
        max-width: 970px;
        background-position: center top;    
    }
    .top #logo{
        transform: scale(0.55);
        opacity: 0;
        aspect-ratio: 153/63;
        right:20px;
        bottom:20px;
        max-width:100px;
    }
    .top #title{
        width: 320px;
        left: 90px;
        top: 53px;
    }
    .top #topLockup, #lockupBox{
        width: 330px;
        left: 92px;
        top: 127px;
    }
    #topLockup #lockupBox{
        background-image: url(lookup-box.png);
        left:0;
        top:0;
        overflow:hidden;
        opacity:1;
    }
    #topLockup #lockupBox img{
        width: 91px;
        left: 166px;
        transform: translate(0,66px);
    }
    .center{
        width:1024px;
    }
    .skinner-container{
        background-position: left top;
        background-size:100% auto;
        background-repeat: no-repeat;
    }
    .bottom .content{
        width:100%;
        max-width:970px;
        bottom:100px;
    }
    .bottom img{
        width:30%;
        aspect-ratio: 485/115;
        left:10px;
    }
    .bottom img:nth-child(2){
        width:10%;
        right:30px;
        left:unset;
        aspect-ratio: 131/89;
    }
}
/* ipad mini vertical*/
@media (min-width:768px) and (max-width: 1023px) {
    #logo{
        left:-5%;
        top:-2%;
    }
    #titleLeft{
        left:-2%;
    }
    #titleRight{
        left:66%;
        top:60%;
    }
     #titleLeftBox{
        left:142px;
    }
}
/* ipad mini horizontal*/
@media (min-width:1024px) and (max-width: 1279px) {
    /* .skinner-bg{
        background-size: auto 1080px;
        background-position: 50% top;
    } */
    
}
.bounce-left {
	animation: bounce-in-left .8s both;
}
@keyframes bounce-in-left {
  0% {
    transform: translateX(-600px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateX(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateX(-68px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateX(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateX(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(0);
    animation-timing-function: ease-out;
    opacity:1;
  }
}

