* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --prev-duration: 2.4s;
  --shine-move: 1.6s;
  --shine-gap: 1s;
}

.pos-ab {
  position: absolute;
}

html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
  /* overflow: hidden; */
  /* overflow-x: hidden; */
  background-color: #ffffff;
}

.o {
  opacity: 0;
}

.skinner-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 250px 1fr 200px;
  /* Top = 250px */
  grid-template-columns: 200px 1fr 200px;
  /* Left | Center | Right */
  grid-template-areas:
    "top    top     top"
    "left   center  right"
    "bottom bottom  bottom";
  animation: fadeIn 1s ease-out forwards;
  background-color: #ffffff;
  background-image: url(bg.png);
  background-position: left 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 0;
  box-sizing: border-box;
}

.panel {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  text-align: center;
  cursor: pointer;
  /* border: 1px solid #000; */
  cursor: pointer;
}

.top {
  min-width: 0;
  grid-area: top;
  height: 250px;
  /* display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold; */
  padding: 0;
  z-index: 10;
  box-sizing: border-box;
  margin: 0;
}

.top .content {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.top #char {
  width: 64%;
  height: auto;
  bottom: 0;
  right: 0;
  margin: auto;
  opacity: 0;
}

.top #pc.logo {
  display: none;
  opacity: 0;
  left: 0;
  top: 10%;
  width: 50%;
}

.top #mobile.logo {
  transform: scale(0.55);
  opacity: 0;
  left: 0;
  top: 10%;
  width: 50%;
}

.top #tagline {
  width: 38%;
  top: 8%;
  left: 6%;
  opacity: 0;
}

.top #cast {
  width: 80%;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 2%;
  opacity: 0;
}

.top #astro {
  width: 18%;
  top: 5%;
  right: 5%;
}

.bottom {
  grid-area: bottom;
  animation-delay: 0.5s;
  width: 100%;
  height: 250px;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom .content {
  width: 100%;
  max-width: 1280px;
  height: 250px;
  bottom: 0;
}

#bottom-image {
  max-width: 485px;
  width: 100%;
  height: auto;
  margin: auto;
  left: 0;
  right: 0;
}

.left {
  grid-area: left;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

.left .logo {
  width: 58%;
  top: 6%;
  display: none;
  left: 0;
  right: 0;
  margin: auto;
}

.left .content,
.right .content {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 720px;
  margin: auto;
  top: 0px;
}

.left .content img,
.right .content img {
  /* width: 80%; */
  margin: auto;
  opacity: 0;
}

.panel .cta {
  border: 1px solid #312859;
  background-color: #764763;
  box-shadow: 0px 8px 8px -2px rgba(0, 0, 0, 0.55);
  color: #fff;
  width: 185px;
  height: 46px;
  font-weight: bold;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 50px;
  overflow: hidden;
  font-size: 20px;
  padding-top: 8px;
  border-radius: 6px;
}

.panel .cta::before {
  content: "";
  position: absolute;
  top: -30%;
  left: -60%;
  width: 60%;
  height: 160%;
  background: linear-gradient(115deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.5) 45%,
      rgba(255, 255, 255, 0.85) 50%,
      rgba(255, 255, 255, 0.5) 55%,
      rgba(255, 255, 255, 0) 100%);
  transform: skewX(-20deg);
  filter: blur(0.3px);
  pointer-events: none;
  animation-name: ctaShimmerGap;
  animation-duration: calc(var(--shine-move) + var(--shine-gap));
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.panel .cta.hide-shimmer::before {
  animation-name: unset;
  animation-iteration-count: unset;
}

@keyframes ctaShimmerGap {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  60% {
    transform: translateX(320%);
    opacity: 1;
  }

  100% {
    transform: translateX(320%);
    opacity: 1;
  }
}

.right {
  grid-area: right;
  animation-delay: 0.9s;
  animation-name: slideInRight;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  opacity: 0;
}

.center {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-delay: 1.1s;
  height: 1px;
  width: 1024px;
  max-width: 1280px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  top: 250px;
}

/* @media (max-height: 300px) {
    .panel.bottom{
        display: none;
    }
} */

/* Responsive Behavior */
@media (max-width: 495px) {

  .panel.left,
  .panel.right {
    display: none;
  }

  .center {
    display: none;
  }
}

/* @media (min-width: 495px) and (max-width: 768px) {
     .center{
        display:none;
    }
    .panel.left, .panel.right {
        display: none;
    }
    .top{
        height: 300px;
        background-size: auto 300px;
    }
    .top #logo{
        width: 268px;
        max-width: 268px;
    }
    .top #title {
        width: 300px;
        max-width: 390px;
        top: 105px;
        left: 40px;
        opacity: 0;
    }
    .top #mobileCta{
        opacity: 1;
    }
    .top #mixLogo{
        opacity: 1;
    }
    .top #product {
        width: 75%;
        height: auto;
        top: 10px;
        right: -35%;
    }

    #bottom-text{
        top: 30px;
        left: 25px;
        width: 350px;
    }

    #bottom-image{
        width: 300px;
        top: 30px;
        right: 25px;
    }
} */

@media (min-width: 768px) and (max-width: 1500px) {
  .skinner-container {
    grid-template-columns: 1fr;
    grid-template-rows: 250px 1fr auto;
    grid-template-areas:
      "top"
      "center"
      "bottom";
  }
}

/* PC */
/* 150% view */
/* @media (min-width:1000px) and (max-width:1589px){ */
@media (min-width: 1300px) and (max-width: 1599px) {
  .skinner-container {
    background-position: left 0;
    background-size: auto 100%;
    background-repeat:repeat-x;
  }

  .top #mobile.logo {
    display: none;
  }

  .top #pc.logo {
    display: block;
    width: 100%;
    top: 20%
  }

  .top .content {
    max-width: 1000px;
    margin: auto;
    left: 0;
    right: 0;
  }

  .top #topLeft {
    width: 50%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 10%;
    text-align: center;
  }

  .top #tagline {
    width: 40%;
    left: unset;
  }

  .top #cast {
    width: 100%;
    left: unset;
    right: unset;
    margin: unset;
    bottom: 5%;
  }

  .top #char {
    width: auto;
    height: 90%;
    right: 8%;
  }

  .top #astro {
    width: 8%;
  }

  .panel .left .content,
  .panel .right .content {
    min-height: 1000px;
  }

  .panel .cta {
    width: 200px;
    padding-top: 10px;
    height: 45px;
  }

  .left .content img,
  .right .content img {
    width: 90%;
    opacity: 0;
    left: 0;
    bottom: 0;
  }

  .right .content img {
    right: 0;
    left: unset;
  }
}

/* 125% view */
/* @media (min-width:1600px) { */
/* @media (min-width: 1600px) and (max-width: 1920px) { */
@media (min-width: 1600px) and (max-width: 2379px) {
  .skinner-container {
    background-position: left 0;
    background-size: auto 100%;
    background-repeat: no-repeat;
  }

  .top #mobile.logo {
    display: none;
  }

  .top #pc.logo {
    display: block;
    width: 100%;
    top: 20%
  }

  .top .content {
    max-width: 1000px;
    margin: auto;
    left: 0;
    right: 0;
  }

  .top #topLeft {
    width: 50%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 10%;
    text-align: center;
  }

  .top #tagline {
    width: 40%;
    left: unset;
  }

  .top #cast {
    width: 100%;
    left: unset;
    right: unset;
    margin: unset;
    bottom: 5%;
  }

  .top #char {
    width: auto;
    height: 90%;
    right: 8%;
  }

  .top #astro {
    width: 8%;
  }

  .panel .left .content,
  .panel .right .content {
    min-height: 1000px;
  }

  .panel .cta {
    width: 200px;
    padding-top: 10px;
    height: 45px;
    left:-12%;
  }
  .right .content .cta{
    left:15%;
  }
  .left .content img,
  .right .content img {
    width: 100%;
    opacity: 0;
    left: 0;
    bottom: 0;
  }

  .right .content img {
    right: 0;
    left: unset;
  }

  .bottom #bottom-image {
    width: 500px;
  }
}

/** above 1920 screen*/
/* @media (min-width:1921px) { */
@media (min-width: 2380px) {
  .skinner-container {
    background-position: left 0;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  .top .content {
    max-width: 1280px;
    background-position: center top;
  }
  .top #astro {
    width: 8%;
  }

  .left .content,
  .right .content {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 1400px;
    margin: auto;
    top: 0;
  }

  .panel .cta {
    width: 200px;
    padding-top: 10px;
    height: 45px;
    left:-12%;
  }
  .right .content .cta{
    left:15%;
  }

  .left .content img,
  .right .content img {
    width: 100%;
    margin: auto;
    opacity: 0;
  }

  .bottom #bottom-image {
    width: 700px;
  }
}

.bounce-left {
  animation: bounce-in-left 0.8s both;
}

@keyframes bounce-in-left {
  0% {
    transform: translateX(-600px);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  38% {
    transform: translateX(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }

  55% {
    transform: translateX(-68px);
    animation-timing-function: ease-in;
  }

  72% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }

  81% {
    transform: translateX(-28px);
    animation-timing-function: ease-in;
  }

  90% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }

  95% {
    transform: translateX(-8px);
    animation-timing-function: ease-in;
  }

  100% {
    transform: translateX(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}